// Fonts
$sans-serif: 'Raleway', sans-serif;

// Colors
$header-background: #222;
$gray: #4f4f4f;

$menu-background: $gray;


$menu-background-color: #0c030c;
$menu-background-color-hover: #333;
$menu-text-color: #fff;
$menu-text-color-hover: #ccc;

$menu-bar-height: 60px;
$menu-bar-font-size: 1.4rem;

$body-background-color: #e2e2e2;
$body-background-color-secondary: #e2e2e2;

$text-color: #333333;

// Breakpoints
$breakpoint-small: 40em;
$breakpoint-medium: 64em;
$breakpoint-large: 90em;
$breakpoint-xlarge: 120em;

// Margins and Paddings
$gutter: 3rem;