// Fonts
$sans-serif: 'Raleway', sans-serif;

// Colors
$header-background: #222;
$gray: #4f4f4f;
$dark: #0C030C;
$background-color: #e2e2e2;
$body-background: #e2e2e2;
$menu-background: $gray;
$text-color: #333333;

// Breakpoints
$breakpoint-small: 40em;
$breakpoint-medium: 64em;
$breakpoint-large: 90em;
$breakpoint-xlarge: 120em;

// Margins and Paddings
$padding: 3rem;