.menu-container {
	background-color: $menu-background-color;
	width: 100%;
	@media (min-width: $breakpoint-medium) {
		width: 80%;
	}
}
.menu-bar {
	width: 100%;
	ul {
		list-style: none;
	}
	.menu-desktop {
		display: none;
		@media (min-width: $breakpoint-medium) {
			display: flex;
		}
	}

	ul.menu-desktop {
		list-style: none;
		height: $menu-bar-height;

		li {
			align-self: stretch;
			line-height: $menu-bar-height;

			a {
				color: $menu-text-color;
				display: block;
				padding: 0 2rem;
				font-size: $menu-bar-font-size;
				text-decoration: none;
				height: 100%;
				vertical-align: middle;
				line-height: $menu-bar-height;
				height: $menu-bar-height;
			}
			a:hover {
				background-color: $menu-background-color-hover;
				color: $menu-text-color-hover;
			}
		}
		li:first-child {
			color: white;
			margin-right: auto;
			width: 100%;
			@media (min-width: $breakpoint-medium) {
				width: auto;
			}
		}
	}

	.menu-mobile {
		display: block;
		@media (min-width: $breakpoint-medium) {
			display: none;
		}
	}

	ul.menu-mobile {
		background: $menu-background-color;
		display: flex;
		flex-direction: column;
		@media (min-width: $breakpoint-medium) {
			display: none;
		}
		.mobile-menu-item {
			display: block;
		}
		li {
			line-height: $menu-bar-height;
			display: block;
			display: flex;
			flex-direction: column;
			height: $menu-bar-height;
			a {
				background-color: $menu-background-color;
				border-bottom: 1px solid $menu-background-color-hover;
				color: $menu-text-color;
				display: block;
				padding: 0 2rem;
				font-size: $menu-bar-font-size;
				text-align: center;
				text-decoration: none;
				height: $menu-bar-height;
				line-height: $menu-bar-height;
			}
			a:hover {
				background-color: $menu-background-color-hover;
				color: $menu-text-color-hover;
			}
		}
	}
}